:root {
    --ff: 'Outfit';
    --fw-normal: 400;
    --fw-bold: 700;

    --white: hsl(0, 0%, 100%);

    --grey-200: hsl(212, 45%, 89%);
    --grey-400: hsl(220, 15%, 55%);

    --blue-800: hsl(218, 44%, 22%);
}

body {
    font-family: var(--ff);
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--grey-200);
}

.center {
    margin: 0 auto;
}

.card {
    max-width: 14.5rem;
    display: grid;
    align-items: center;
    gap: 1em;
    background-color: var(--white);
    border-radius: 1em;

    &__media {
        img {
            border-radius: 0.5em;
            width: 100%;
            height: auto;
        }
    }

    &__title {
        color: var(--blue-800);
        font-size: 1.125rem;
        font-weight: var(--fw-bold);
    }

    &__content {
        color: var(--grey-400);
        font-size: 0.75rem;
        font-weight: var(--fw-normal);
        padding: 0 1em;
    }
} // end card

.attribution {
    padding-top: 1em;
    font-size: 11px;
    text-align: center;

    & a {
        color: hsl(228, 45%, 44%);
    }
}
