:root {
    --ff: 'Outfit';
    --fw-normal: 400;
    --fw-bold: 700;

    --white: hsl(0, 0%, 100%);

    --grey-200: hsl(212, 45%, 89%);
    --grey-400: hsl(220, 15%, 55%);

    --blue-800: hsl(218, 44%, 22%);
}

body {
    font-family: var(--ff);
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--grey-200);
}

.card {
    max-width: 10rem;
    display: grid;
    align-items: center;
    gap: 1rem;
    background-color: var(--white);
    border-radius: 1rem;

    &__media {
        
        img {
            border-radius: .5rem;
            width: 100%;
            height: auto;
        }
    }

    &__title {
        color: var(--blue-800);
        font-size: .85rem;
        font-weight: var(--fw-bold);
    }

    &__content {
        color: var(--grey-400);
        font-size: .6rem;
        font-weight: var(--fw-normal);
    }
}